footer {
    padding-top: 45px;
    position: relative;
    background-color: #141414;
    color: $white;

    h3.text-uppercase {
        font-family: $robotoCondesed;
        margin-bottom: 20px;

        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }

    .footer-top {
        .about-us {
            li a {
                color: $white;
            }
        }

        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;

                i {
                    color: $white;
                }
            }
        }
    }

    .footer-middle {
        .copyright {
            height: 45px;
            line-height: 30px;
            color: $white;
            border-top: 1px solid $gray94;
            margin-top: 45px;
            padding-top: 8px;
    
            p, a {
                color: $white;
                font-size: 15px;
                margin-bottom: 0;
    
                @media (max-width: 767.98px) {
                    font-size: 13px;
                }
            }
        }
    }
}