.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 25px;
    width: 35px;
    height: 35px;
    background-color: $primaryColor2;
    z-index: 100;

    @media only screen and (max-width: 767.98px) {
        bottom: 75px;
        right: 12px;
    }

    i {
        position: relative;
        color: $white;
        font-size: 20px;
        display: block;
        text-align: center;
        width: 35px;
        top: 7px;
    }
}

.floating {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $primaryColor2;

    .inside {
        .call-now,
        .chat-us {
            float: left;
            border-right: 1px dotted $mercury;
            vertical-align: middle;
            color: $white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            font-size: 16px;

            div {
                text-align: center;
                line-height: 24px;
                position: relative;

                i {
                    position: absolute;
                    font-size: 20px;
                    top: 12px;
                    left: 15px;
                }

                span, strong {
                    display: block;
                }
            }
        }

        .chat-us {
            border-right: none;
        }
    }
}

#fb-root > div.fb_dialog.fb_dialog_advanced.fb_customer_chat_bubble_animated_no_badge {
    bottom: 90px !important;
}
#fb-root > div.fb_dialog.fb_dialog_mobile.fb_customer_chat_bubble_animated_no_badge {
    bottom: 120px!important;
    right: 10px !important;
}
.fb-customerchat.fb_invisible_flow.fb_iframe_widget iframe {
    bottom: 160px !important;

    @media only screen and (max-width: 767.98px) {
        bottom: 180px !important;
        right: 0px !important;
    }
}