#sidebar {
    .sidebar {
        position: relative;
    }

    #form-search {
        input {
            border-width: 1px;
            border: 1px solid $mercury;
        }
    }

    .list-group {
        .list-group-item-action {
            background: none;
            font-weight: bold;
            color: $black;
            border: none;
            padding-left: 0px;
            font-size: 20px;
            position: relative;
            border-bottom: 3px solid $primaryColor;
            margin-bottom: 20px;

            &:before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                width: 100px;
                height: 3px;
                background: $primaryColor2;
            }
        }

        .td-list-group-item {
            height: 75px;
            padding: 10px 0;
            color: $black;
            border: none;
            border-top: 1px solid #ecf0f1;

            &:last-child {
                border-bottom: 1px solid #ecf0f1;
            }

            &:hover {
                background: $gray94;
                color: $primaryColor;
            }

            img {
                float: left;
                margin-right: 10px;
                border: 1px solid $mercury;
            }

            span {
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding-top: 5px;
                overflow: hidden;
            }

            &.item-price {
                height: auto;
                font-size: 17px;

                i {
                    color: $primaryColor2;
                    margin-right: 8px;
                }

                span {
                    display: inline;
                }
            }
        }
    }

    .post-bxslider-wrapper {
        .bx-wrapper {
            border: none;
            margin-bottom: 20px;

            a {
                border-radius: 0;
            }
        }
    }
}