#sidebar {
    .sidebar {
        position: relative;
    }
    
    .list-group {
        margin-bottom: 30px;

        .list-group-item-action {
            font-size: 19px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 22px;
            color: $black;
            border-bottom: 1px solid #efefef;
            margin: 0 0 10px 0;
            padding-bottom: 8px;
            font-family: $robotoCondesed;

            span {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -9px;
                    width: 100%;
                    height: 2px;
                    background: $black;
                }
            }
        }

        .td-list-group-item {
            height: 75px;
            padding: 10px 0;
            color: $black;
            border: none;
            border-bottom: 1px solid #efefef;
            margin-bottom: 0;

            &:last-child {
                border-bottom: 1px solid #efefef;
            }

            &:hover {
                background: $white;
            }

            img {
                float: left;
                margin-right: 10px;
            }

            span {
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding-top: 5px;
                overflow: hidden;
            }

            &.item-price {
                height: auto;
                font-size: 17px;

                i {
                    color: $primaryColor2;
                    margin-right: 8px;
                }

                span {
                    display: inline;
                }
            }
        }
    }

    .post-bxslider-wrapper {
        .bx-wrapper {
            border: none;
            margin-bottom: 20px;

            a {
                border-radius: 0;
            }
        }
    }
}

#shopify-section-sidebar-section {
    @media only screen and (max-width : 768px) {
        display: none;
    }

    .sidebar-widget-product {
        margin-bottom: 0;

        .products-grid {
            .bx-wrapper {
                margin-bottom: 30px;
                border: 0;

                .bx-viewport {
                    .products-item {
                        .products-item-wrapper {
                            width: 239px !important;

                            .media-thumb {
                                height: 247px;
            
                                img {
                                    height: 100%;
                                    padding: 0;
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }

                .bx-controls {
                    .bx-controls-direction {
                        .bx-prev {
                            width: 30px;
                            height: 40px;
                            top: 48%;
                            left: -4px;
                            background: url("../../../images/r-left.png") no-repeat;
                            background-size: 40px;
                        }
    
                        .bx-next {
                            width: 30px;
                            height: 40px;
                            top: 48%;
                            right: 4px;
                            background: url("../../../images/r-right.png") no-repeat;
                            background-size: 40px;
                        }
                    }
                }
            }
        }
    }
}