$white: #ffffff;
$gray94: #F9F9F9;
$black: #000000;
$mercury: #e2e2e2;
$red: #FF0000;
$chambray: #3C5A98;
$mineShaft: #222222;
$gallery: #ededed;
$geyser: #DBE0E8;
$primaryColor: #211e1f;
$primaryColor2: #e94724;
$killarney: #356649;
$fadedJade: #3C746B;

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("fonts/RobotoCondensed-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("fonts/RobotoCondensed-Regular.ttf");
    font-display: swap;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 1.7;
    padding-bottom: 65px;
}

.wrapper-container {
    max-width: 620px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        margin: initial;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-6 {
    width: 50%;
}

p {
    margin: 0 0 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

blockquote {
    line-height: 1.6;
    margin: 1.5em
}

q:after,
q:before {
    content: ""
}

article[role=article] {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 15px
}

body a,
body a:link,
body a:visited {
    color: #0053a5;
}

body blockquote {
    padding: 10.5px 21px;
    border-left: 5px solid #ecf0f1
}

body q {
    font-style: italic;
    display: block;
    font-size: 1.4em;
    line-height: 1.25;
    text-transform: uppercase;
    color: #6f96a8;
    border-top: 5px solid #e0dedf;
    border-bottom: 5px solid #e0dedf;
    padding: .8em 0 .5em;
    margin: 0 0 14px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/*
-----------------------------------
    Header
-----------------------------------
*/
header {
    background: #fff;
    padding: 25px 0;

    a {
        color: #ffb600;
        text-transform: uppercase;
        font-size: 20px;

        &:visited {
            color: #ffb600;
        }

        amp-img {
            width: 70%;
            margin: 0 auto;
        }
    }
}

/*
-----------------------------------
    Menu
-----------------------------------
*/
nav {
    background-color: #e94724;
    height: 65px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
	padding-left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #ffffff;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

ul.navbar-nav {
    position: absolute;
    width: 80%;
    height: auto;
    box-shadow: 0 0 10px #85888C;
    margin: -25px 0 0 -25px;
    padding: 25px;
    padding-top: 65px;
    background-color: #e94724;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
        padding: 7px 0;
        transition-delay: 2s;
        list-style: none;

        &.dropdown {
            padding-bottom: 0;
        }

        a {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #ffffff;
        }

        ul li {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

#menuToggle input:checked~ul {
    transform: none;
}

article {
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 15px 0;
    }

    .article-content {
        h2 {
            font-size: 28px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 18px;
        }

        ol,
        ul {
            padding-left: 5px;
            margin-bottom: 15px;
            margin-left: 10px
        }

        ol li,
        ul li {
            margin-bottom: .5em;
            line-height: 24px
        }

        hr {
            border-top: 1px solid #ccc;
        }

        table {
            width: 100%;
            margin-bottom: 14px;
            border-spacing: 0;
            border-collapse: collapse;

            th, td {
                padding: 10px;
            }
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        a {
            color: #211e1f;
        }
    }

    .related-news {
        h3 {
            position: relative;
            border-bottom: 3px solid $primaryColor;
            margin: 0 0 15px;
            line-height: 1.4;
            font-size: 26px;
    
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 150px;
                height: 3px;
                background: $primaryColor2;
            }
        }
    
        .related-wrapper {
            border: 1px solid $primaryColor;
            margin-bottom: 30px;
            
            .related-img {
                display: block;
                overflow: hidden;
                position: relative;

                amp-img {
                    border-radius: 0px;
                    padding: 0px;
                    border: none;
                    width: 100%;
                    height: 150px;
                    transition: 0.6s ease;

                    @media only screen and (max-width: 767.98px) {
                        height: auto;
                    }
                }
            }
    
            a.related-title {
                margin: 10px 0px;
                padding: 0 5px;
                font-size: 16px;
                line-height: 22px;
                height: 45px;
                max-height: 45px;
                color: $primaryColor;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-family: 'Roboto Condensed Bold', sans-serif;
                text-align: center;

                &:hover {
                    text-decoration: none;
                }

                @media only screen and (max-width: 767.98px) {
                    font-size: 18px;
                    padding: 10px 10px 5px;
                    max-height: max-content;
                    height: auto;
                }
            }

            p {
                padding: 0 5px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                @media only screen and (max-width: 767.98px) {
                    padding: 0px 10px;
                }
            }
        }
    }
    
    #list-comments {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    
        &>h4 {
            font-size: 26px;
            position: relative;
            border-bottom: 3px solid $primaryColor;
    
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 150px;
                height: 3px;
                background: $primaryColor2;
            }
        }
    
        .media-list {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
    
            .media {
                border-top: 1px dotted #ededed;
                margin-top: 10px;
                padding-top: 10px;
    
                &.first {
                    border-top: none;
                }
    
                .media-body,
                .media-left,
                .media-right {
                    display: table-cell;
                    vertical-align: top;
                }
    
                .media-left {
                    padding-right: 10px;
    
                    amp-img {
                        width: 50px;
                    }
                }
    
                .media-body {
                    h5 {
                        font-weight: 700;
                        font-size: 16px;
                        margin-bottom: 2px;
                    }
    
                    .comment-container {
                        font-size: 15px;
                    }
    
                    a.comment-reply-link {
                        font-size: 14px;
                        color: #222;
                        text-decoration: underline;
                    }
                } 
            }
        }
    }
}

footer {
    padding-top: 30px;
    position: relative;
    background-image: url("../../assets/images/background-footer.jpg");
    background-color: rgb(17, 17, 17);
    background-position: 50% 119.476px;
    color: $white;

    h3.text-uppercase {
        font-size: 26px;
        margin: 0 0 15px;
        line-height: 1.4;
        font-weight: 500;

        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }

    .footer-top {
        .about-us {
            padding-left: 15px;

            li {
                margin-bottom: .5em;

                a {
                    color: $white;
                }
            }
        }

        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;
                margin-bottom: .5em;

                i {
                    color: $white;
                }
            }
        }
    }

    .footer-middle {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $gray94;

        .footer-text-wrap {
            p {
                text-align: justify;
                margin-bottom: 5px;
            }
        }

        .td-social-icon-wrap {
            display: inline-block;
            margin: 5px 5px 5px 0;
            
            a {
                color: $white;

                i {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid $white;
                    position: relative;
                    color: $white;
                }
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid $white;
            margin: 0 0 10px 0;
            padding: 0 10px;

            a {
                color: $white;
            }
        }
    }

    .copyright {
        height: 45px;
        line-height: 30px;
        color: $white;
        border-top: 1px solid $gray94;
        margin-top: 8px;
        padding-top: 8px;

        p, a {
            color: $white;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }

    .event-footer {
        margin-top: 20px;

        .event-footer-item {
            h6 {
                margin-bottom: 10px;
                font-size: 14px;

                a {
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    .td-scroll-up {
        cursor: pointer;
        position: fixed;
        bottom: 30px;
        right: 25px;
        width: 35px;
        height: 35px;
        background-color: $primaryColor2;
        z-index: 100;
        border: none;
        padding: 0;
    
        @media only screen and (max-width: 767.98px) {
            bottom: 80px;
            right: 10px;
        }
    
        i {
            position: relative;
            color: #fff;
            font-size: 20px;
            display: block;
            text-align: center;
            width: 35px;
            top: -2px;
        }
    }
    
    .floating {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: $primaryColor2;
    
        .inside {
            .call-now,
            .chat-us {
                float: left;
                border-right: 1px dotted $mercury;
                vertical-align: middle;
                color: $white;
                text-align: center;
                padding: 10px 0;
                position: relative;
                font-size: 16px;
    
                div {
                    text-align: center;
                    line-height: 24px;
                    position: relative;
    
                    i {
                        position: absolute;
                        font-size: 25px;
                        top: 12px;
                        left: 15px;
                    }
    
                    span, strong {
                        display: block;
                    }
                }
            }
    
            .chat-us {
                border-right: none;
            }
        }
    }
}

.breadcrumbs {
    clear: both;
    padding: 0 15px;
    margin: 0 auto;

    #wo-breadcrumbs {
        padding: 5px 0;

        li {
            margin-bottom: 0em;
            list-style: none;
            display: inline-block;

            &::before {
                content: "/\A0";
                padding: 0 5px;
                color: #e2e2e2;
            }

            &:first-child {
                &::before {
                    content: none;
                }
            }

            a {
                color: #000;
            }
        }
    }
}

.tags {
    display: flex;
    margin: 20px 0 5px;
    font-size: 12px;

    ul {
        padding: 0;
        margin-left: 0;
        margin-bottom: 10px;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 8px;
                color: $white;
                display: block;
                line-height: 16px;
                float: left;
                height: 25px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 15px;
                padding: 5px 8px;
                height: 25px;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    color: $white;
                }
            }
        }
    }
}

.rating-share-container {
    border-top: 1px solid $gallery;
    border-bottom: 1px solid $gallery;
    padding: 10px 0 0;
    margin: 10px 0 20px;
}