{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block body_class 'admin_new new' %}

{% block main %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">{{ 'title.news_new'|trans }}</strong>
                        </div>
                        <div class="card-body">
                            <div id="pay-invoice">
                                <div class="card-body">
                                    {{ include('admin/product/_form.html.twig', {
                                        form: form,
                                        button_label: 'action.save'|trans,
                                        include_back_to_home_link: true,
                                    }, with_context = false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
