.fancybox-slide {
    .fancybox-content {
        width  : 800px;
        height : 700px;
        max-width  : 80%;
        max-height : 94%;
        margin: 0;

        .product-information {
            .devvn-popup-prod {
                display: block;

                .devvn-popup-img {
                    display: inline-block;
                    margin-right: 10px;
                    width: 120px;
                }

                .devvn-popup-info {
                    display: inline-block;

                    .devvn-product-popup-info {
                        display: block;

                        .devvn_title {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .customer-information {
            .form-group {
                label {
                    margin-bottom: 0;
                }

                .form-text {
                    height: 65px;
                }
            }
        }
    }
}