.fancybox-slide {
    .fancybox-content {
        width  : 800px;
        height : 700px;
        max-width  : 80%;
        max-height : 94%;
        margin: 0;

        .product-information {
            .img-thumbnail {
                padding: 0;
                margin-right: 10px;
                border-radius: 0;
            }

            .media-body {
                display: inline-block;
                width: 70%;

                h5.mt-0 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                .product_price {
                    letter-spacing: 0;
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: bold;

                    .price-regular {
                        color: $black;
                    }

                    .price-sale {
                        .old-price {
                            color: #969696;
                            text-decoration: line-through;
                            margin-right: 5px;
                        }

                        .special-price {
                            color: #e7040f;
                        }
                    }
                }

                .quantity {
                    label {
                        font-weight: 400;
                        margin-right: 8px;

                        &.error {
                            display: none !important;
                        }
                    }

                    input {
                        padding-left: 5px;
                        border-width: 1px;

                        &:focus {
                            border-width: 1px;
                        }

                        &.error {
                            padding-top: 0px;
                            border-color: #e7040f;
                        }
                    }
                }
            }
            
            p.checkout-note {
                margin-top: 30px;
            }
        }

        .customer-information {
            .form-group {
                label {
                    margin-bottom: 0;
                }

                .form-text {
                    height: 65px;
                }
            }
        }

        #checkout-message {
            display: none;
            text-align: center;
            font-size: 18px;
        }
    }
}