/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 12px;
            height: 12px;
            background-color: transparent;
            border: 1px solid $primaryColor;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 12px;
                height: 12px;
                background-color: $primaryColor;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    left: 40%;
                }

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    right: 20%;;
                }

                &::before {
                    content: "";
                }
            }
        }
    }
}

.homepage-cat-hot {
    margin-top: 30px;

    .item {
        margin-bottom: 30px;

        .banner-item {
            position: relative;

            .img-box {
                text-align: center;
            }

            .content-box {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                min-width: 90%;
                text-align: center;

                .banner-title {
                    font-size: 20px;
                    letter-spacing: .02em;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 0;
                    display: inline-block;
                    position: relative;
                }
            }
        }
    }
}

.widget-title {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 15px;

    .box-title {
        color: #141414;
        font-size: 24px;
        letter-spacing: .02em;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 12px;
        padding: 0 25px;
        display: inline-block;
        font-family: $arimo;

        @media only screen and (max-width: 767.98px) {
            padding: 0 10px;
        }

        &::before,
        &::after {
            top: 50%;
            width: 120px;
            height: 2px;
            position: absolute;
            background-color: #141414;
            content: "";

            @media only screen and (max-width: 767.98px) {
                width: 50px;
            }
        }

        &::before {
            left: -120px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            @media only screen and (max-width: 767.98px) {
                left: -50px;
            }
        }

        &::after {
            right: -120px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            @media only screen and (max-width: 767.98px) {
                right: -50px;
            }
        }
    }
}

.home-new-product-tab {
    margin-bottom: 30px;

    .products-items {
        .bx-wrapper {
            border: none;
            margin-bottom: 0;

            @media only screen and (min-width: 979.98px) {
                max-width: 1200px !important;
            }

            .bx-viewport {
                height: 100% !important;

                .products-item {
                    @media only screen and (min-width: 768px) {
                        width: initial !important;
                    }

                    .products-item-wrapper {
                        width: 234px !important;
                        position: relative;
    
                        @media only screen and (max-width: 767.98px) {
                            width: 100% !important;
                        }
    
                        @media (min-width: 768px) and (max-width: 979.98px) {
                            width: 220px !important;
                        }

                        .media-thumb {
                            img {
                                border: none;
                                padding: 7px;

                                @media only screen and (max-width : 768px) {
                                    padding: 0;
                                    width: 85%;
                                    margin: 0 auto;
                                    border-radius: 0;
                                }
                            }
                        }

                        .media-body {
                            h5 {
                                margin-top: 10px;
                                margin-bottom: 5px;
    
                                a {
                                    color: $black;
                                    font-size: 15px;
                                    line-height: 20px;
                                    font-weight: 500;
                                    text-align: center;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
    
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
    
                            .rating {
                                margin-bottom: 9px;
                                width: 100%;
                                display: block;
                                text-align: center;
    
                                .star-full, .star  {
                                    font-size: 18px;

                                    &::before {
                                        padding-right: 0;;
                                    }
                                }
    
                                .spr-badge-caption {
                                    display: none;
                                }
                            }
    
                            .price-box {
                                letter-spacing: 0;
                                margin-bottom: 15px;
                                font-size: 14px;
                                font-weight: bold;
                                text-align: center;
    
                                .price-regular {
                                    color: #000;
                                }
    
                                .price-sale {
                                    .old-price {
                                        color: #969696;
                                        text-decoration: line-through;
                                        margin-right: 5px;
                                    }
    
                                    .special-price {
                                        color: #e7040f;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bx-controls {
                .bx-controls-direction {
                    .bx-prev {
                        width: 30px;
                        height: 40px;
                        top: 48%;
                        left: -35px;
                        background: url("../../../images/r-left.png") no-repeat;
                        background-size: 40px;

                        @media only screen and (max-width : 768px) {
                            width: 25px;
                            left: -14px;
                            top: 49%;
                            background-position: -7px 0px;
                        }
                    }

                    .bx-next {
                        width: 30px;
                        height: 40px;
                        top: 48%;
                        right: -30px;
                        background: url("../../../images/r-right.png") no-repeat;
                        background-size: 40px;

                        @media only screen and (max-width : 768px) {
                            width: 25px;
                            right: -14px;
                            background-position: -7px 0;
                        }
                    }
                }
            }
        }
    }
}

.home-spotlight-block {
    margin-top: 30px;

    .spotlight-item {
        margin-bottom: 20px;

        .img-box {
            text-align: center;
            position: relative;

            .animate-scale {
                position: relative;
                display: block;
                overflow: hidden;
                height: 385px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #232323;
                    overflow: hidden;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
                    filter: alpha(opacity=0);
                    z-index: 2;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }

                img {
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -ms-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }

                &:hover {
                    &::before {
                        overflow: visible;
                        opacity: 0.3;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
                        filter: alpha(opacity=30);
                    }

                    img {
                        -moz-transform: scale3d(1.1, 1.1, 1);
                        -o-transform: scale3d(1.1, 1.1, 1);
                        -ms-transform: scale3d(1.1, 1.1, 1);
                        -webkit-transform: scale3d(1.1, 1.1, 1);
                        transform: scale3d(1.1, 1.1, 1);
                    }
                }
            }
        }

        .content.spotlight-inner {
            position: relative;
            padding: 0 0 23px;
            margin-top: -40px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            z-index: 2;
            margin-bottom: 5px;
            text-align: center;

            .content-title {
                background: $white;
                max-width: 85%;
                margin: 0 auto;
                padding: 15px 5px;

                h4 {
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 24px;
                    font-size: 15px;
                    margin-bottom: 5px;
                    font-family: $helvetica;
                    letter-spacing: -0.5px;
                }

                h3.title {
                    font-size: 20px;
                    font-family: $quicksand;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    line-height: 26px;
                    margin-bottom: 0px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .des {
                line-height: 24px;
                padding: 0 15px;
                margin: 0;
                font-size: 16px;
                font-family: $quicksand;
                color: #2d2d2d;
                height: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}