/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: $white;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $primaryColor;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;
                height: 550px;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    left: 40%;
                }

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    right: 20%;;
                }

                &::before {
                    content: "";
                }
            }
        }
    }
}

.marquee {
    color: $white;
    height: 35px;

    marquee {
        line-height: 35px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.bang-gia {
    padding-top: 40px;
    padding-bottom: 40px;

    @media only screen and (min-width: 979.98px) {
        border-bottom: 1px solid $geyser;
    }

    @media only screen and (max-width : 768px) {
        padding: 30px 0 0;
    }

    .one {
        @media only screen and (max-width : 768px) {
            text-align: center;
        }

        a {
            img {
                width: 80%;
                vertical-align: middle;
            }
        }
    }

    .two, .three, .four {
        div {
            background: $primaryColor2;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;

            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                margin-top: 15px;
                padding: 10px;
            }

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.why-choose-us {
    background-image: url("../../assets/images/background-why-choose-us.jpg");
    background-position: center center;
    background-attachment: fixed;
    padding: 30px 0;

    @media only screen and (max-width: 768px) {
        padding: 0 0 20px;
    }

    .row {
        .why-choose-us-title {
            padding: 30px 0;
            color: $primaryColor;
            margin: 0;

            @media only screen and (max-width: 768px) {
                font-size: 28px;
            }
        }

        .media {
            .media-left {
                span {
                    display: block;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    font-size: 3em;
    
                    i {
                        margin-right: 0;
                        color: $primaryColor2;
                        vertical-align: top;
                    }
                }
            }
    
            .media-body {
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
    
                .marketing-container {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

.list-news-items {
    .news-item {
        margin-bottom: 20px;

        &.d-none {
            @media (min-width: 768px) and (max-width: 991.98px) {
                display: none;
            }
        }

        .news-item-wrapper {
            border: 1px solid $black;

            &:hover {
                border: 1px solid $primaryColor2;

                .media-thumb {
                    .img-thumbnail {
                        transform: scale(1.5);
                    }

                    a {
                        opacity: 1;

                        i {
                            -webkit-transform: translate(-50%, -50%) rotate(0);
                            -moz-transform: translate(-50%, -50%) rotate(0);
                            -ms-transform: translate(-50%, -50%) rotate(0);
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }
            }

            .media-thumb {
                display: block;
                height: 220px;
                overflow: hidden;
                position: relative;

                @media only screen and (max-width: 980px) {
                    height: 165px;
                }

                @media only screen and (max-width: 767.98px) {
                    height: 260px;
                }

                .img-thumbnail {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    transition: 0.6s ease;
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;

                    i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 46px;
                        font-size: 1.3em;
                        border: 2px solid $white;
                        color: $white;
                        text-align: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-transform: translate(-50%, -50%) rotate(270deg);
                        -moz-transform: translate(-50%, -50%) rotate(270deg);
                        -ms-transform: translate(-50%, -50%) rotate(270deg);
                        transform: translate(-50%, -50%) rotate(270deg);
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -ms-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                }
            }
    
            .media-body {
                padding: 10px;

                h5 {
                    font-size: 20px;
                    min-height: 60px;
                    margin: 0;
                    padding: 7px 0;
                    text-align: center;

                    @media only screen and (max-width: 767.98px) {
                        min-height: auto;
                    }
    
                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 26px;
                        max-height: 50px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: $primaryColor2;
                        font-family: $robotoCondesed;
                        font-weight: 500;
                        text-transform: uppercase;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
    
                p {
                    font-size: 16px;
                    margin-bottom: 0;
                    padding: 5px 0;
                    line-height: 26px;
                    text-align: center;
                }
            }
        }
    }
}

.title-list-news-items {
    h1 {
        font-size: 35px;
        margin: 30px 0 5px;
        color: $primaryColor2;

        img {
            height: 25px;
            vertical-align: baseline;
        }

        i {
            font-size: 17px;
            vertical-align: middle;
            margin-top: -5px;
            margin-right: 0;
            color: $primaryColor2;
        }
    }

    .block-underline {
        width: 220px;
        height: 3px;
        background: $primaryColor;
        display: block;
        margin: 0 auto 10px;
    }

    p {
        text-align: center;
        font-style: italic;
        margin-bottom: 20px;
    }
}