/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: $white;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $primaryColor;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;
                height: 550px;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    left: 40%;
                }

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    right: 20%;;
                }

                &::before {
                    content: "";
                }
            }
        }
    }
}

.homepage-cat-hot {
    margin-top: 30px;

    .item {
        margin-bottom: 30px;

        .banner-item {
            position: relative;

            .img-box {
                text-align: center;
            }

            .content-box {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                min-width: 90%;
                text-align: center;

                .banner-title {
                    font-size: 20px;
                    letter-spacing: .02em;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 0;
                    display: inline-block;
                    position: relative;
                }
            }
        }
    }
}

.widget-title {
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;

    .box-title {
        color: #141414;
        font-size: 24px;
        letter-spacing: .02em;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 12px;
        padding: 0 25px;
        display: inline-block;
        font-family: $arimo;

        &::before,
        &::after {
            top: 50%;
            width: 120px;
            height: 2px;
            position: absolute;
            background-color: #141414;
            content: "";
        }

        &::before {
            left: -120px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &::after {
            right: -120px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.home-new-product-tab {
    margin-bottom: 30px;

    .products-items {
        .bx-wrapper {
            border: none;
            margin-bottom: 0;

            @media only screen and (min-width: 979.98px) {
                max-width: 1200px !important;
            }

            .bx-viewport {
                height: 100% !important;

                .products-item {
                    @media only screen and (min-width: 768px) {
                        width: initial !important;
                    }

                    .products-item-wrapper {
                        width: 234px !important;
                        position: relative;
    
                        @media only screen and (max-width: 767.98px) {
                            width: 100% !important;
                        }
    
                        @media (min-width: 768px) and (max-width: 979.98px) {
                            width: 220px !important;
                        }

                        .media-thumb {
                            img {
                                border: none;
                            }
                        }

                        .media-body {
                            h5 {
                                font-size: 13px;
                                margin-top: 10px;
                                margin-bottom: 5px;
    
                                a {
                                    color: $black;
                                    font-size: 13px;
                                    line-height: 20px;
                                    font-weight: 500;
                                    text-align: center;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
    
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
    
                            .rating {
                                margin-bottom: 9px;
                                width: 100%;
                                display: block;
                                text-align: center;
    
                                .star-full, .star  {
                                    font-size: 18px;

                                    &::before {
                                        padding-right: 0;;
                                    }
                                }
    
                                .spr-badge-caption {
                                    display: none;
                                }
                            }
    
                            .price-box {
                                letter-spacing: 0;
                                margin-bottom: 15px;
                                font-size: 14px;
                                font-weight: bold;
                                text-align: center;
    
                                .price-regular {
                                    color: #000;
                                }
    
                                .price-sale {
                                    .old-price {
                                        color: #969696;
                                        text-decoration: line-through;
                                        margin-right: 5px;
                                    }
    
                                    .special-price {
                                        color: #e7040f;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bx-controls {
                .bx-controls-direction {
                    .bx-prev {
                        width: 40px;
                        height: 120px;
                        top: 35%;
                        left: 0;
                        background: url("../../../images/arrow-left.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.3);
                        background-size: 40px;
                    }

                    .bx-next {
                        width: 40px;
                        height: 120px;
                        top: 35%;
                        right: 0;
                        background: url("../../../images/arrow-right.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.3);
                        background-size: 40px;
                    }
                }
            }
        }
    }
}

.home-spotlight-block {
    margin-top: 30px;

    .spotlight-item {
        margin-bottom: 20px;

        .img-box {
            text-align: center;
            position: relative;

            .animate-scale {
                position: relative;
                display: block;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #232323;
                    overflow: hidden;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
                    filter: alpha(opacity=0);
                    z-index: 2;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }

                img {
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -ms-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }

                &:hover {
                    &::before {
                        overflow: visible;
                        opacity: 0.3;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
                        filter: alpha(opacity=30);
                    }

                    img {
                        -moz-transform: scale3d(1.1, 1.1, 1);
                        -o-transform: scale3d(1.1, 1.1, 1);
                        -ms-transform: scale3d(1.1, 1.1, 1);
                        -webkit-transform: scale3d(1.1, 1.1, 1);
                        transform: scale3d(1.1, 1.1, 1);
                    }
                }
            }
        }

        .content.spotlight-inner {
            position: relative;
            padding: 0 0 23px;
            margin-top: -40px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.07);
            z-index: 2;
            margin-bottom: 5px;
            text-align: center;

            .content-title {
                background: $white;
                max-width: 85%;
                margin: 0 auto;
                padding: 15px 5px;

                h4 {
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 24px;
                    font-size: 15px;
                    margin-bottom: 5px;
                }

                h3.title {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 0px;
                }
            }

            .des {
                line-height: 24px;
                padding: 0 15px 10px;
                margin: 0;
                font-size: 16px;
                color: #2d2d2d;
            }

            .spotlight-button {
                color: #000;

                &.btn {
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .02em;
                    font-size: 14px;
                    line-height: 20px;
                    outline: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    border-radius: 3px;
                    padding: 9px 15px 9px;
                    border: 1px solid rgba(255,255,255,0);
                    min-width: 130px;
                    max-width: 100%;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.list-news-items {
    .news-item {
        margin-bottom: 20px;

        .news-item-wrapper {
            border: 1px solid $white;

            &:hover {
                border: 1px solid $primaryColor2;

                .media-thumb {
                    .img-thumbnail {
                        transform: scale(1.5);
                    }

                    a {
                        opacity: 1;

                        i {
                            -webkit-transform: translate(-50%, -50%) rotate(0);
                            -moz-transform: translate(-50%, -50%) rotate(0);
                            -ms-transform: translate(-50%, -50%) rotate(0);
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }
            }

            .media-thumb {
                display: block;
                height: 220px;
                overflow: hidden;
                position: relative;

                @media only screen and (max-width: 980px) {
                    height: 165px;
                }

                @media only screen and (max-width: 767.98px) {
                    height: 260px;
                }

                .img-thumbnail {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    transition: 0.6s ease;
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;

                    i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 46px;
                        font-size: 1.3em;
                        border: 2px solid $white;
                        color: $white;
                        text-align: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-transform: translate(-50%, -50%) rotate(270deg);
                        -moz-transform: translate(-50%, -50%) rotate(270deg);
                        -ms-transform: translate(-50%, -50%) rotate(270deg);
                        transform: translate(-50%, -50%) rotate(270deg);
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -ms-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
}