/* News
------------------------------------------------------------------------- */
.category-list-items {
    padding-top: 50px;

    .description {
        margin-bottom: 30px;
    }
}

/* Slide project hot
------------------------------------------------------------------------- */
.project-hot {
    margin: 0;

    @media only screen and (max-width: 767.98px) {
        margin: 30px 0 0;
    }

    .title-list-news-items {
        h1 {
            margin: 30px 0 10px;
        }

        .block-underline {
            margin-bottom: 30px;
        }
    }

    .list-news-items {
        .bx-wrapper {
            border: none;
            margin-bottom: 0;

            @media only screen and (min-width: 979.98px) {
                max-width: 1260px !important;
            }

            .bx-viewport {
                height: 100% !important;

                .news-item {
                    @media only screen and (min-width: 768px) {
                        width: initial !important;
                    }
    
                    .news-item-wrapper {
                        width: 292.5px !important;
    
                        @media only screen and (max-width: 767.98px) {
                            width: 100% !important;
                        }
    
                        @media (min-width: 768px) and (max-width: 979.98px) {
                            width: 220px !important;
                        }
                    }
                }
            }

            .bx-controls {
                .bx-controls-direction {
                    .bx-prev {
                        width: 40px;
                        height: 120px;
                        top: 35%;
                        left: 0;
                        background: url("../../../images/arrow-left.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.3);
                        background-size: 40px;
                    }

                    .bx-next {
                        width: 40px;
                        height: 120px;
                        top: 35%;
                        right: 0;
                        background: url("../../../images/arrow-right.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.3);
                        background-size: 40px;
                    }
                }
            }
        }
    }
}

/* Post detail
------------------------------------------------------------------------- */
.wrapper-post-container {
    .post-container {
        margin-top: 20px;

        .news {
            h1 {
                font-size: 35px;
                line-height: 38px;
            }
        
            .news-container {
                ul, ol {
                    padding-left: 15px;
                    margin-bottom: 15px;
                    margin-left: 15px;
        
                    li {
                        margin-bottom: 0.3 em;
                    }
                }
        
                img {
                    height: auto !important;
                }
        
                a {
                    color: $primaryColor;
                }
        
                h3 {
                    font-size: 25px;
                }
        
                blockquote {
                    font-size: 16px;
                    border-left: 5px solid $primaryColor;
                    font-style: italic;
                }
            }
        }
    }
}

/* Tag
------------------------------------------------------------------------- */
.tags {
    display: flex;
    margin: 20px 0 5px;
    font-size: 12px;

    ul {
        padding: 0;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 8px;
                color: $white;
                display: block;
                line-height: 16px;
                float: left;
                height: 25px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 15px;
                padding: 5px 8px;
                height: 25px;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    color: $white;
                }
            }
        }
    }
}

/* News Share
------------------------------------------------------------------------- */
.rating-share-container {
    border-top: 1px solid $gallery;
    border-bottom: 1px solid $gallery;
    padding: 10px 0;
    margin: 10px 0 20px;

    .rating-container {
        a#rating {
            display: inline-block;
            font-size: 20px;
            text-decoration: none;

            .rating-title {
                display: none;
            }
        }
    }

    .social-share {
        .social-share-label {
            line-height: 32px;
            float: left;
            margin-right: 15px;
            vertical-align: middle;
            font-weight: bold;
            font-style: italic;
            margin-top: 3px;
            text-decoration: underline;
        }

        .at-share-tbx-element .at-share-btn {
            margin: 0 5px 0px 0;
        }

        .addthis_inline_share_toolbox_of26_7oy0 {
            display: inline-block;
        }
    }
}

#form-rating-container {
    .rating-message {
        color: $primaryColor;
        margin: 0;
    }
}

/* News Related
------------------------------------------------------------------------- */
.related-news {
    h3 {
        position: relative;
        border-bottom: 3px solid $primaryColor;

        &:before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 150px;
            height: 3px;
            background: $primaryColor2;
        }
    }

    .row {
        .related-wrapper {
            border: 1px solid $primaryColor;
            margin-bottom: 30px;

            &:hover {
                border: 1px solid $primaryColor2;

                .related-img {
                    .img-thumbnail {
                        transform: scale(1.5);
                    }

                    a {
                        opacity: 1;

                        i {
                            -webkit-transform: translate(-50%, -50%) rotate(0);
                            -moz-transform: translate(-50%, -50%) rotate(0);
                            -ms-transform: translate(-50%, -50%) rotate(0);
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }
            }

            .related-img {
                display: block;
                overflow: hidden;
                position: relative;

                .img-thumbnail {
                    border-radius: 0px;
                    padding: 0px;
                    border: none;
                    width: 100%;
                    height: 150px;
                    transition: 0.6s ease;

                    @media only screen and (max-width: 767.98px) {
                        height: auto;
                    }
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;

                    i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 46px;
                        font-size: 1.3em;
                        border: 2px solid $white;
                        color: $white;
                        text-align: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-transform: translate(-50%, -50%) rotate(270deg);
                        -moz-transform: translate(-50%, -50%) rotate(270deg);
                        -ms-transform: translate(-50%, -50%) rotate(270deg);
                        transform: translate(-50%, -50%) rotate(270deg);
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -ms-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                }
            }
    
            a.related-title {
                margin: 10px 0px;
                padding: 0 5px;
                font-size: 15px;
                line-height: 22px;
                height: 45px;
                max-height: 45px;
                color: $primaryColor2;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-family: $robotoCondesed;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;

                &:hover {
                    text-decoration: none;
                }

                @media only screen and (max-width: 767.98px) {
                    font-size: 17px;
                    padding: 5px 10px;
                    max-height: 45px;
                    height: 45px;
                }
            }

            p {
                padding: 0 5px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                @media only screen and (max-width: 767.98px) {
                    padding: 0px 10px;
                }
            }
        }
    }
}

/* Comment
------------------------------------------------------------------------- */
.page {
    #list-comments {
        margin-top: 0px;
    }
}

#list-comments {
    margin-top: 20px;
    margin-bottom: 20px;

    & > h4 {
        font-size: 26px;
        position: relative;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    .media-list {
        .media {
            border-top: 1px dotted $gallery;
            margin-top: 10px;
            padding-top: 10px;

            &.first {
                border-top: none;
            }
    
            .media-left {
                @media only screen and (max-width: 767.98px) {
                    margin-right: 5px;
                }
    
                img {
                    width: 65px;
                    max-width: none;
    
                    @media only screen and (max-width: 767.98px) {
                        width: 50px;
                    }
                }
            }
    
            .media-body {
                h5 {
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 2px;
                }
    
                .comment-container {
                    font-size: 15px;
                }
    
                .comment-container p {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
    
                a.comment-reply-link {
                    font-size: 14px;
                    color: $mineShaft;
                    text-decoration: underline;
                }
            }
        }
    }
}

#respond {
    margin-top: 30px;

    .comment-reply-title {
        position: relative;
        border-bottom: 3px solid $mercury;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    #form-comment {
        .form-group {
            .form-control,
            input {
                border-width: 1px;
                height: 40px;
                padding: 5px 15px;

                &.error {
                    border: 1px solid $red;
                    padding: 5px 15px;
                }
            }

            textarea.form-control {
                height: 100px;
            }

            label.error {
                display: none !important;
            }

            .btn-primary {
                background: $primaryColor;
                border-width: 0px;
                padding: 10px 20px;
            }
        }
    }
}