/* News
------------------------------------------------------------------------- */
.wrapper-post-container {
    .home-spotlight-block {
        .spotlight-item {
            .img-box {
                .animate-scale {
                    height: auto;
                }
            }

            .content.spotlight-inner {
                .content-title {
                    h4.title {
                        font-size: 14px;
                    }
                    
                    h3.title {
                        font-size: 18px;
                        min-height: 78px;
                        -webkit-line-clamp: 3;

                        @media only screen and (max-width: 767.98px) {
                            min-height: auto;
                        }
                    }
                }
            }
        }
    }
}

/* Post detail
------------------------------------------------------------------------- */
.wrapper-post-container {
    .post-container {
        margin-top: 10px;

        .news {
            h1 {
                font-size: 32px;
                line-height: 35px;
            }
        
            .news-container {
                ul, ol {
                    padding-left: 15px;
                    margin-bottom: 15px;
                    margin-left: 15px;
        
                    li {
                        margin-bottom: 0.3 em;

                        ul {
                            margin-top: 10px;
                        }
                    }
                }
        
                img {
                    height: auto !important;
                }
        
                a {
                    color: $primaryColor;
                }
                
                h2 {
                    font-size: 28px;
                }
                
                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }
    }
}

/* Tag
------------------------------------------------------------------------- */
.tags {
    display: flex;
    margin: 20px 0 0;
    font-size: 12px;

    ul {
        padding: 0;
        margin-bottom: 0;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 8px;
                color: $white;
                display: block;
                line-height: 16px;
                float: left;
                height: 25px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 15px;
                padding: 5px 8px;
                height: 25px;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    color: $white;
                }
            }
        }
    }
}

/* News Share
------------------------------------------------------------------------- */
.rating-share-container {
    border-top: 1px solid $gallery;
    border-bottom: 1px solid $gallery;
    padding: 10px 0 5px;
    margin: 20px 0;
}

/* News related
------------------------------------------------------------------------- */
.related-news {
    margin-top: 35px;

    h3.related-news-title {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 22px;
        color: $black;
        border-bottom: 1px solid #efefef;
        margin: 0;
        padding-bottom: 8px;
        font-family: $robotoCondesed;

        span {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -9px;
                width: 100%;
                height: 2px;
                background: $black;
            }
        }
    }
}

/* Comment
------------------------------------------------------------------------- */
.page {
    #list-comments {
        margin-top: 0px;
    }
}

#list-comments {
    margin-top: 20px;
    margin-bottom: 20px;

    & > h4 {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 22px;
        color: $black;
        border-bottom: 1px solid #efefef;
        margin: 0;
        padding-bottom: 8px;
        font-family: $robotoCondesed;

        span {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -9px;
                width: 100%;
                height: 2px;
                background: $black;
            }
        }
    }

    .media-list {
        .media {
            border-top: 1px dotted $gallery;
            margin-top: 10px;
            padding-top: 10px;

            &.first {
                border-top: none;
            }
    
            .media-left {
                @media only screen and (max-width: 767.98px) {
                    margin-right: 5px;
                }
    
                img {
                    width: 75px;
                    max-width: none;
    
                    @media only screen and (max-width: 767.98px) {
                        width: 50px;
                    }
                }
            }
    
            .media-body {
                h5 {
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 2px;
                }
    
                .comment-container {
                    font-size: 15px;
                }
    
                .comment-container p {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
    
                a.comment-reply-link {
                    font-size: 14px;
                    color: $mineShaft;
                    text-decoration: underline;
                }
            }
        }
    }
}

#respond {
    margin-top: 30px;

    .comment-reply-title {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 22px;
        color: $black;
        border-bottom: 1px solid #efefef;
        margin: 0;
        padding-bottom: 8px;
        font-family: $robotoCondesed;

        span {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -9px;
                width: 100%;
                height: 2px;
                background: $black;
            }
        }
    }

    #form-comment {
        .form-group {
            .form-control,
            input {
                border-width: 1px;
                height: 40px;
                padding: 5px 15px;

                &.error {
                    border: 1px solid $red;
                    padding: 5px 15px;
                }
            }

            textarea.form-control {
                height: 100px;
            }

            label.error {
                display: none !important;
            }

            .btn-primary {
                background: $primaryColor;
                border-width: 0px;
                padding: 10px 20px;
            }
        }
    }
}