.col-sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 249px;
    flex: 0 0 249px;
    max-width: 249px;
    padding-right: 10px;
}

.col-main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 249px);
    flex: 0 0 calc(100% - 249px);
    max-width: -moz-calc(100% - 249px);
    max-width: -webkit-calc(100% - 249px);
    max-width: -ms-calc(100% - 249px);
    max-width: calc(100% - 249px);
    padding-left: 10px;
}

.sidebar {
    .widget-title {
        padding-top: 0;
        text-align: left;
        margin-bottom: 13px;

        .sidebar-title {
            font-size: 18px;
            letter-spacing: .02em;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $robotoCondesed;
            line-height: 22px;
            color: $black;
            border-bottom: 1px solid #efefef;
            margin: 0;
            padding-bottom: 3px;
    
            span {
                position: relative;
    
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 2px;
                    background: $black;
                }
            }
        }
    }

    .sidebar-links {
        margin-bottom: 40px;

        .widget-content {
            ul {
                margin: 0;
                padding: 0;

                li {
                    margin: 0;
                    position: relative;
                    cursor: pointer;
                    list-style: none;

                    .link-action-wrapper {
                        display: block;
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 0;

                        a {
                            font-size: 12px;
                            display: inline-block;
                            font-weight: bold;
                            color: $black;
                            padding: 7px 0px 6px 0;
                            line-height: 22px;
                            position: relative;
                            -webkit-transition: padding-left 0.3s linear;
                            -moz-transition: padding-left 0.3s linear;
                            -ms-transition: padding-left 0.3s linear;
                            -o-transition: padding-left 0.3s linear;
                            transition: padding-left 0.3s linear;
                        }
                    }
                }
            }
        }
    }

    .sidebar-widget-product {
        margin-bottom: 55px;

        .widget-title {
            margin-bottom: 30px;
        }
    }

    .sidebar-banner {
        text-align: center;
        margin-bottom: 20px;
    }
}

/* Product listing page */
.collection-header {
    .collection-image {
        margin-bottom: 35px;
    }

    .collection-wrapper {
        h1 {
            font-family: $arimo;
        }

        .collection-des {
            font-size: 15px;
            font-family: $arimo;
            margin-bottom: 25px;
        }
    }
}

.product-collection {
    .products-item {
        margin-bottom: 20px;
    }
}

/* Product detail page */
.product-photos {
    .slider-nav {
        .slick-list {
            margin: 0 -5px;
        }

        .slick-slide>div {
            padding: 0 5px;
        }
    }
}

.product-shop {
    .product-title {
        font-family: $arimo;
        font-size: 22px;
        letter-spacing: normal;
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 15px;
        display: block;
    }

    .group_item {
        .spr-badge {
            .rating {
                margin-bottom: 9px;
                width: 100%;
                display: block;

                .star-full, .star, .star-empty  {
                    font-size: 18px;

                    &::before {
                        padding-right: 0;;
                    }
                }

                .spr-badge-caption {
                    display: none;
                }
            }
        }
    }

    .prices {
        letter-spacing: 0;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;

        .price-regular {
            color: $black;
        }

        .price-sale {
            .old-price {
                color: #969696;
                text-decoration: line-through;
                margin-right: 5px;
            }

            .special-price {
                color: #e7040f;
            }
        }
    }

    .short-description {
        margin-bottom: 25px;
        font-size: 15px;
    }

    .groups-btn {
        .bottom-button {
            margin-bottom: 25px;

            a {
                background: $black;
                color: $white;
                border-color: $black;
                padding: 13px 15px 12px;
                line-height: 21px;
                font-size: 16px;
                display: block;
                text-align: center;
                cursor: pointer;

                &:hover {
                    border-color: #e7040f;
                    background: #e7040f;
                    text-decoration: none;
                }

                strong {
                    text-transform: uppercase;
                    display: block;
                    line-height: 26px;
                }

                span {
                    display: block;
                    line-height: 20px;
                }
            }
        }
    }
}

.products-item {
    border: 1px solid #ffffff;

    &:hover {
        border: 1px solid #ffffff;
        border-radius: 3px;
    }

    .products-item-wrapper {
        position: relative;

        .media-thumb {
            img {
                border: none;
            }
        }

        .media-body {
            h5 {
                margin-top: 10px;
                margin-bottom: 5px;
                min-height: 40px;

                a {
                    color: $black;
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: 500;
                    font-family: $arimo;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .rating {
                margin-bottom: 9px;
                width: 100%;
                display: block;
                text-align: center;

                .star-full, .star, .star-empty  {
                    font-size: 18px;

                    &::before {
                        padding-right: 0;;
                    }
                }

                .spr-badge-caption {
                    display: none;
                }
            }

            .price-box {
                letter-spacing: 0;
                margin-bottom: 15px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;

                .price-regular {
                    color: #000;
                }

                .price-sale {
                    .old-price {
                        color: #969696;
                        text-decoration: line-through;
                        margin-right: 5px;
                    }

                    .special-price {
                        color: #e7040f;
                    }
                }
            }
        }
    }
}

.product_bottom {
    margin-top: 50px;

    .tabs__product-page {
        margin-bottom: 30px;

        .nav-tabs {
            margin-bottom: 30px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;

            li {
                margin: 0 -1px 0 0;

                &.active {
                    a {
                        background-color: $white;
                        margin-bottom: -1px;

                        &::before {
                            background-color: #555555;
                        }
                    }
                }

                a {
                    padding: 10px 35px 10px;
                    border: 1px solid #ececec;
                    border-bottom: none;
                    background-color: #fafafa;
                    line-height: 21px;
                    margin-right: 0;
                    border-radius: 0;
                    text-transform: uppercase;
                    font-family: $robotoCondesed;
                    font-size: 16px;
                    font-weight: 600;

                    &::before {
                        position: absolute;
                        width: -moz-calc(100% + 2px);
                        width: -webkit-calc(100% + 2px);
                        width: -ms-calc(100% + 2px);
                        width: calc(100% + 2px);
                        height: 2px;
                        content: "";
                        top: -1px;
                        left: -1px;
                    }
                }
            }
        }

        .tab-content {
            #product-tab1 {
                ul, ol {
                    padding-left: 30px;
                }

                h2 {
                    font-size: 24px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }

        #form-rating-review {
            .spr-form-title {
                font-family: $robotoCondesed;
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: .02em;
                color: $black;
                margin-bottom: 24px;
            }

            .form-group {
                label.control-label {
                    vertical-align: middle;
                }

                .rating {
                    .star-full, .star, .star-empty  {
                        font-size: 20px;
                    }
                }
            }
        }

        .spr-reviews {
            margin-top: 30px;
            border-color: #e6e6e6;

            .spr-review {
                padding: 28px 0 30px;
                border-top: 1px solid rgba(0,0,0,0.1);

                &:first-child {
                    margin-top: 24px;
                }

                .spr-review-header {
                    .rating {
                        margin-bottom: 8px;
                        width: 100%;
                        display: block;
        
                        .star-full, .star, .star-empty  {
                            font-size: 18px;
        
                            &::before {
                                padding-right: 0;;
                            }
                        }
        
                        .spr-badge-caption {
                            display: none;
                        }
                    }

                    .spr-review-header-title {
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 20px;
                        color: #000;
                        margin-bottom: 7px;
                    }

                    .spr-review-header-byline {
                        color: #5f5f5f;
                        font-weight: normal;
                        font-style: normal;
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 8px;
                        display: block;
                    }
                }

                .spr-review-content {
                    line-height: 24px;
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

#product-recommendations {
    .related-products {
        .widget-title {
            text-align: left;
            padding-top: 15px;
            margin-bottom: 10px;
            margin-top: 30px;

            h3 {
                font-size: 19px;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 22px;
                color: $black;
                border-bottom: 1px solid #efefef;
                margin: 0;
                padding-bottom: 8px;
                font-family: $robotoCondesed;

                span {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -9px;
                        width: 100%;
                        height: 2px;
                        background: $black;
                    }
                }
            }
        }

        .products-items {
            .bx-wrapper {
                border: none;
                margin-bottom: 0;

                @media only screen and (min-width: 979.98px) {
                    max-width: 931px !important;
                }

                .bx-viewport {
                    height: 100% !important;

                    .products-item {
                        @media only screen and (min-width: 768px) {
                            width: initial !important;
                        }

                        .products-item-wrapper {
                            width: 230px !important;
                            position: relative;
        
                            @media only screen and (max-width: 767.98px) {
                                width: 100% !important;
                            }
        
                            @media (min-width: 768px) and (max-width: 979.98px) {
                                width: 220px !important;
                            }
                        }
                    }
                }

                .bx-controls {
                    .bx-controls-direction {
                        .bx-prev {
                            width: 30px;
                            height: 40px;
                            top: 48%;
                            left: -35px;
                            background: url("../../../images/r-left.png") no-repeat;
                            background-size: 40px;
                        }
    
                        .bx-next {
                            width: 30px;
                            height: 40px;
                            top: 48%;
                            right: -35px;
                            background: url("../../../images/r-right.png") no-repeat;
                            background-size: 40px;
                        }
                    }
                }
            }
        }
    }
}