<div class="list-group">
    <h3 class="list-group-item-action text-uppercase">
        <span>{{ 'sidebar.fanpage'|trans }}</span>
    </h3>
    <div class="fb-page"
        data-href="https://www.facebook.com/lilyhouse.fanpage/"
        data-tabs="timeline"
        data-width="340"
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="true"
        data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/lilyhouse.fanpage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lilyhouse.fanpage/">Lily House</a></blockquote>
    </div>
</div>