<div class="social-share">
    <amp-addthis width="320" height="63"  data-pub-id="ra-51488205306afdd5" data-widget-id="7oy0" data-widget-type="inline"></amp-addthis>
</div>
<div class="clearfix"></div>